:root {
  --primary-color: rgb(16, 90, 104);
  --secondary-color: rgb(111, 164, 156);
  --background-color: #fff;
  --extra-color: #888;
  --backing-color: #dadada;
  --font-family: Quicksand, Arial, sans-serif;
  --name-font: Playfair, Georgia, serif;
  --transition-time: 0.3s;
  --border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: var(--font-family);
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
}


.sidebar {
  background-color: var(--background-color);
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  scrollbar-width: thin;
  scrollbar-color: var(--extra-color);
  left: 0%;
  margin: 0%;
  top: 0%;
  padding: 20px;
}

.sidebar nav ul {
  list-style: none;
  padding-right: 6.6px;
}

.sidebar nav ul li {
  margin-bottom: 10px;
}

.sidebar nav ul li a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 12px;
}

a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: var(--primary-color);
  transition: width .3s;
}

.sidebar a:hover::after {
  width: 100%;
}

.sidebar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 30px 0 20px;
}

.sidebar .name {
  font-weight: 600;
  font-size: 17px;
  font-family: var(--name-font);
  margin-bottom: 10px;
  color: var(--primary-color);
}

.sidebar .email {
  color: var(--primary-color);
  font-size: 13px;
  font-family: var(--name-font);
  margin-bottom: 20px;
}

.sidebar::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: var(--backing-color);
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: var(--extra-color);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
  width: calc(100% - 250px);
  margin-left: 270px;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}

video {
  height: 100vh;
}

a {
  margin: 2px;
}

.play-button {
  position: absolute;
  top: 90%;
  left: 60%;
  transform: translate(-50%, -50%);
  padding: 12px 24px;
  border-radius: var(--border-radius);
  border-color: var(--primary-color);
  border-width: 1px;
  color: var(--primary-color);
  background-color: var(--background-color);
  font-size: 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-family: var(--font-family);
}

button i {
  margin-left: 5px;
}

.play-button:hover {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.horizontal-scroll {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  height: 200px;
  background-color: var(--background-color);
  overflow-y: hidden;
}

.horizontal-scroll img {
  width: 200px;
  height: 150px;
  margin-right: 10px;
}

.horizontal-scroll video {
  width: 300px;
  height: 200px;
  margin-right: 10px;
}

.horizontal-scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.horizontal-scroll::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
}

.horizontal-scroll::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
}

.horizontal-scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--extra-color);
}

.button {
  color: var(--primary-color);
  text-decoration: none;
  border-radius: 60px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  max-width: 40px;
  border: 2px solid var(--primary-color);
  transition: max-width 0.5s;
}

.icon {
  font-size: 20px;
  margin-right: 15px;
  padding: 0px 8px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.button:hover {
  max-width: 500px;
}

.icon i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  font-size: 25px;
}

.text {
  white-space: nowrap;
  padding-right: 15px;
}

.load img {
  width: 300px;
  height: 300px;
}

.ops {
  font-size: 12px;
  color: var(--extra-color);
}